@import "./base.css";
@import "tailwindcss";

@theme {
  --font-jetbrains: "JetBrains Mono Variable", ui-monospace, SFMono-Regular,
    Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer utilities {
  .undo-text-lg {
    line-height: revert !important;
  }
}

@layer components {
  .custom-shadow-0 {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .custom-shadow-4 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .custom-shadow-5 {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scroll::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .line-height1 {
    line-height: 1;
  }

  /* Apply to the container you want to scroll */
}

.chart-card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#undo-text-lg {
  line-height: revert;
}
